@font-face {
    font-family: "Montreal-Regular";
    src: url(./fonts/Montreal-Regular.woff);
}

@font-face {
    font-family: "Montreal-Bold";
    src: url(./fonts/Montreal-Bold.woff);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montreal-Regular";
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(232 232 227/1);
}

/* ------ Preloader Style ----- */
.preloader {
    background: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    /* Display Block*/
    display: block;
    pointer-events: none;
}

/* ------- Navbar Style ------ */
#main {
    width: 100%;
    height: 100%;
    opacity: 1;
    /* background-color: rgb(232 232 227/1); */
}

.navbar {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
    padding-right: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
    padding-block: 20px;
}

.navbar .nav-logo {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navbar .nav-logo p {
    color: #6b645c;
    font-size: 18px;
}

.navbar .nav-links {
    width: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.link-line {
    width: min-content;
    height: 1.25rem;
    min-height: 1.25rem;
    position: relative;
    overflow: hidden;
}

.nav-link.top1 {
    margin-top: -1.25rem;
}

.nav-link {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.link-line:hover .nav-link.top1 {
    transform: translateY(20px);
}

.link-line:hover .nav-link:not(.top1) {
    transform: scale(1.2) translateY(20px);
}

.navbar .nav-links a {
    color: #6b645c;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.border {
    width: 0%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
}


/* ------- Hero Section Style ------- */
#hero {
    width: 100%;
    height: 100%;
    padding-left: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
    padding-right: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
}

#hero .hero-heading h1 {
    text-wrap: balance;
    line-height: 1;
    letter-spacing: 1;
    margin-top: 2rem;
}

#hero .hero-heading h1 svg {
    width: 100%;
    height: 100%;
}

#hero .hero-heading h1 svg path {
    transform: translateY(100%);
    /* Opacity 0*/
    opacity: 0;
}

#hero .hero-content {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-top: 4rem;
    position: relative;
    height: 30vh;
    padding-bottom: 4rem;
}

#hero .hero-content .hero-desc {
    height: 45vh;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#hero .hero-content .hero-desc h4 svg {
    font-size: 28px;
}

#hero .hero-content .hero-desc p {
    font-size: clamp(1rem, 0.9286rem + 0.357vi, 1.25rem);
    color: rgb(107 100 92/1);
    max-width: 30vw;
    line-height: 120%;
    text-wrap: balance;
}

#hero .hero-content .hero-desc button {
    background-color: rgb(57 54 50/1);
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    color: rgb(232 232 227/1);
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: clamp(1rem, 0.9286rem + 0.357vi, 1.25rem);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#hero .hero-content .hero-desc button:hover {
    background-color: rgb(140 140 115/1);
}

#hero .hero-content .hero-img {
    grid-column: span 4;
    height: 45vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .hero-content .hero-img .image {
    overflow: hidden;
    width: 20vw;
    height: 55vh;
    position: relative;
}

#hero .hero-content .hero-img .image img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: all 0.3s linear;
}

#hero .hero-content .hero-img .image img:hover {
    filter: grayscale(0);
}

#hero .hero-content .hero-date {
    height: 45vh;
    grid-column: span 4;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

#hero .hero-content .hero-date p {
    font-size: clamp(0.9rem, 0.5393rem + 0.3786vi, 1rem);
    color: rgb(107 100 92/1);
    text-transform: uppercase;
}

#hero .hero-content .hero-date h2 {
    font-size: clamp(3rem, 2.25rem + 3.75vi, 5.6rem);
}


/* ---------- Services Style --------- */
#services {
    width: 100%;
    min-height: 100vh;
    background-color: #111;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: clamp(4.5rem, 4.3572rem + 0.71435vi, 5rem) clamp(1.6875rem, 1.6339rem + 0.265vi, 1.87rem);
    /* padding: 4.5rem 1.6rem; */
    overflow: hidden;
}

.text-ser h2 {
    color: #d1d1c7;
    font-size: clamp(3rem, 2.25rem + 3.75vw, 5.62rem);
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 5rem;
}

#services div h2 span {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
}

#services .service-contents {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-start;
    gap: 3rem;
    padding-top: 5rem 0;
}

.ser-subHeading {
    color: rgb(107 100 92/1);
    font-size: clamp(0.875rem, 0.539rem + 0.5786vi, 1rem);
    text-transform: uppercase;
}

.ser-para {
    width: 35%;
    font-size: clamp(1rem, 0.928rem + 0.357vi, 1.25rem);
    color: rgb(107 100 92/1);
    line-height: 120%;
    text-wrap: balance;
}

.ser-container {
    width: 100%;
    padding: 3rem 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.ser-container .one {
    display: flex;
    align-items: flex-start;
    background-color: #111;
}

.ser-container .ser-border {
    border-top: 1px solid #393632;
    padding-top: 3rem;
}

.ser-container .one .oneL {
    width: 50%;
}

.ser-container .one .oneL h2 {
    color: #d1d1c7;
    font-size: clamp(1.95rem, 1.5rem + 2.28vi, 3.55rem);
    font-family: "Montreal-Regular";
}

.ser-container .one .oneR {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ser-container .one .oneR h3 {
    font-size: clamp(1.95rem, 1.5rem + 2.28vi, 3.55rem);
    font-family: "Montreal-Regular";
    color: #d1d1c7
}

.ser-container .one .oneR .oneRPara {
    color: #a29e9a;
    padding-top: clamp(1.125rem, 1.08rem + 0.178vi, 1.25rem);
    max-width: 80%;
}

.ser-container .one .oneR .list {
    padding-top: clamp(1.125rem, 1.08rem + 0.178vi, 1.25rem);
    padding-bottom: clamp(1.125rem, 1.08rem + 0.178vi, 1.25rem);
    color: #a29e9a;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
}

.ser-container .one .oneR .list .listItem {
    font-size: clamp(1rem, 0.9286rem + 0.357vi, 1.25rem);
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #393632;
    width: 100%;
}

.ser-container .one .oneR .list .listItem .itemTitle {
    color: #d1d1c7;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.ser-container .one .oneR .list .listItem span {
    font-size: 1.1rem;
    padding-right: 1.5rem;
    color: #a29e9a;
}

.listItem.i-bt {
    border: none !important;
}


/* ------------- Projects Style ---------- */
#projects {
    width: 100%;
    height: auto;
    background-color: #111;
    padding: clamp(4.5rem, 4.3572rem + 0.71435vi, 5rem) clamp(1.6875rem, 1.6339rem + 0.265vi, 1.87rem);
}

.text-ser2 .qus {
    opacity: 1;
    z-index: 1000;
    color: #d1d1c7;
    font-size: clamp(3rem, 2.25rem + 3.75vw, 5.62rem);
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 5rem;
}

#projects div .qus span {
    color: #d1d1c7;
    display: inline-block;
    /* transform: translateY(100%); */
    opacity: 1;
}

#projects .service-contents {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-start;
    gap: 3rem;
    padding-top: 5rem 0;
}


.pro-con {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}

.pro-top {
    position: relative;
    width: 40%;
}

.zero {
    font-size: 20rem;
    color: #d1d1c7;
}

.topLeft {
    overflow: hidden;
    overflow-y: auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 230px;
    scrollbar-width: none;
}

.topLeft .num {
    font-size: 20rem;
    color: #a29e9a;
}
.topRight {
    width: 50%;
    height: 100vh;
}

.topRight .image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.topRight .image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}



